body {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#mapContainer {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  height: 100%;
}

#map {position:absolute; top:0; bottom:0; width:100%; height: 100%;}
